<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" rel="stylesheet">
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" rel="stylesheet">
    <title>Home</title>
</head>
<body>
<p><a th:href="@{/product/list}">
    <button class="btn btn-primary">Product List</button>
</a>
</p>
<p><a th:href="@{/product/create}">
    <button class="btn btn-secondary">Create Product</button>
</a>
</p>
<p><a th:href="@{/cart}">
    <button class="btn btn-dark">See Cart</button>
</a>
</p>
</body>
</html>